@{
    ViewBag.Title = "About";
}

<div class="container">
    <div class="container-fluid" style="height:auto; margin-top:40px;margin-bottom:20px;">
        <h1 class="Enq" style="text-align:center;font-size:45px; color:Background dimgray;">
            About Us<br />
        </h1>
        <img src="~/Images/New.png" style="width:80%;height:40%;margin:10px;margin-left:80px;border-radius:10px;" />

        <div class=" col-lg-12">
            <h3 class="loanparagraph" style=" color: #943b7e; text-align:left; margin-left:80px;">
                Running finances is not only difficult, it can be emotionally taxing. In fact, over half of Indians have cried at some point due to money issues.

                At Our application, we are passionate about making it easy for people to take control of their finances and improve their financial health. To date we’ve helped countless people save over $14 million dollars by helping them identify and cancel unwanted subscriptions, lower their bills, and get them refunds on fees and outages. But we’re just getting started.Our project is not just about saving money. Think of us as your financial control center. A single place to manage your financial life. Now that’s what we call easy money.

                We're thrilled by how much money and time we've saved our users and are excited to continue on our mission to meaningfully improve the financial health of millions of people.
            </h3>
        </div>
    </div>

</div>


