@{
    ViewBag.Title = "Home Page";
}

<!-- CSS only -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/Images/cimage1.png" alt="firstImage" style=" width:100%;height:400px;">
        </div>

        <div class="item">
            <img src="~/Images/cimage2.jpg" alt="SecondImage" style="width:100%;height:400px;">
        </div>

        <div class="item">
            <img src="~/Images/cimage3.jpg" alt="ThirdImage" style="width:100%;height:400px;">
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h2>Popular Plans <small>Trends </small></h2>
        </div>
    </div>
</div>
<div class="row product-container">

    <div class=" col-md-4 ">
        <div class="our-team">
            <div class="picture">
                <img class="img-fluid" src="~/Images/H.jpg">
            </div>
            <div class="team-content">
                <h3 class="name">BASIC</h3>
                <a href="https://in.pcmag.com/internet/95943/the-best-video-streaming-services-for-2020" class="btn btn-info">EXPLORE</a>
            </div>

        </div>
    </div>


    <div class=" col-md-4 ">
        <div class="our-team">
            <div class="picture">
                <img class="img-fluid" src="~/Images/sptify.jpg">
            </div>
            <div class="team-content">
                <h3 class="name">STANDARD</h3>
                <a href="https://in.pcmag.com/internet/95943/the-best-video-streaming-services-for-2020" class="btn btn-info">EXPLORE</a>
            </div>

        </div>
    </div>
    <div class=" col-md-4">
        <div class="our-team">
            <div class="picture">
                <img class="img-fluid" src="~/Images/N.jpg">
            </div>
            <div class="team-content">
                <h3 class="name">PREMIUM</h3>
                <a href="https://in.pcmag.com/internet/95943/the-best-video-streaming-services-for-2020" class="btn btn-info">EXPLORE</a>

            </div>

        </div>
    </div>

</div>
<style>
    .our-team {
        padding: 30px 0 40px;
        margin-bottom: 30px;
        background-color: #f7f5ec;
        text-align: center;
        overflow: hidden;
        position: relative;
    }

        .our-team .picture {
            display: inline-block;
            height: 130px;
            width: 130px;
            margin-bottom: 50px;
            z-index: 1;
            position: relative;
        }

            .our-team .picture::before {
                content: "";
                width: 100%;
                height: 0;
                border-radius: 50%;
                background-color: #1369ce;
                position: absolute;
                bottom: 135%;
                right: 0;
                left: 0;
                opacity: 0.9;
                transform: scale(3);
                transition: all 0.3s linear 0s;
            }

        .our-team:hover .picture::before {
            height: 100%;
        }

        .our-team .picture::after {
            content: "";
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: #1369ce;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }

        .our-team .picture img {
            width: 100%;
            height: auto;
            border-radius: 50%;
            transform: scale(1);
            transition: all 0.9s ease 0s;
        }

        .our-team:hover .picture img {
            box-shadow: 0 0 0 14px #f7f5ec;
            transform: scale(0.7);
        }

        .our-team .title {
            display: block;
            font-size: 15px;
            color: #4e5052;
            text-transform: capitalize;
        }

        .our-team .social {
            width: 100%;
            padding: 0;
            margin: 0;
            background-color: #1369ce;
            position: absolute;
            bottom: -100px;
            left: 0;
            transition: all 0.5s ease 0s;
        }

        .our-team:hover .social {
            bottom: 0;
        }

        .our-team .social li {
            display: inline-block;
        }

            .our-team .social li a {
                display: block;
                padding: 10px;
                font-size: 17px;
                color: white;
                transition: all 0.3s ease 0s;
                text-decoration: none;
            }

                .our-team .social li a:hover {
                    color: #1369ce;
                    background-color: #f7f5ec;
                }
</style>